* {
  box-sizing: border-box;
  border: 1px solid yellow;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.hero {
  padding: 100px 0;
  background-color: hsla(192, 36%, 21%, 1);
  color: #fff;
}

.container {
  width: 80%;
  max-width: 900px;
  margin: 0 auto;
  font-size: 24px;
  overflow: hidden;
}

.hero__text {
  width: 60%;
  font-size: 1rem;
  color: #dbdbdb;
}

.btn {
  border-style: none;
  font-size: 21px;
  font-weight: 700;
  max-width: 285px;
  padding: 18px;
  border-radius: 31.5px;
  background-color: hsla(184, 68%, 53%, 1);
  margin-top: 50px;
  cursor: pointer;
  text-transform: uppercase;
}
