@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&family=Roboto:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Playfair Display", serif;
  font-family: "Roboto", sans-serif;
  max-width: 1128px;
  margin: 0 auto;
  line-height: 1.6;
}

img {
  max-width: 100%;
}

header {
  background-color: #f3eed9;
}

h2 {
  font-family: "Playfair Display", serif;
}

.main-banner {
  background-color: #f3eed9;
  min-height: 660px;
}

.main-banner p {
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.3em;
}

.main-banner h1 {
  font-family: "Playfair Display", serif;
  font-size: 3.75rem;
  text-align: center;
  margin-top: 200px;
  color: #824936;
}

.quality-designs {
  min-height: 330px;
}

.quality-designs h2 {
  text-align: center;
  margin-bottom: 40px;
  padding-top: 80px;
  color: #824936;
}

.two-col {
  display: flex;
  padding: 0 80px 80px 80px;
}

.two-col p {
  max-width: 600px;
  margin-left: 60px;
}

.green-section {
  display: flex;
  background-color: #222c2a;
  padding: 80px;
}

.green-section__text {
  line-height: 1.6;
}

.green-section__text h2 {
  color: #f3eed9;
}

.green-section__text p {
  color: #fff;
  max-width: 75%;
}
